---
name: 'Deploy'
on:
  workflow_dispatch:

jobs:
  action:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: alex-oleshkevich/setup-ansible@v1.0.1
        with:
          version: "11.12.0"
      - run: python -m pip install "regex"
      - uses: oNaiPs/secrets-to-env-action@v1
        with:
          secrets: ${{ toJSON(secrets) }}
      - uses: extractions/setup-just@v3
      # - run:  just optimize
      - run:  just roles
      - run:  just setup-all