---
name: 'Deploy'
on:
  workflow_dispatch:

jobs:
  action:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: alex-oleshkevich/setup-ansible@v1.0.1
        with:
          version: "11.12.0"
      - run: python -m pip install "regex"
      - name: Download and install agru
        run: |
          curl -L \
            https://github.com/etkecc/agru/releases/download/v0.1.18/agru_Linux_x86_64.tar.gz \
            -o agru_Linux_x86_64.tar.gz
          tar -xzf agru_Linux_x86_64.tar.gz
          chmod +x agru
          echo "$PWD" >> "$GITHUB_PATH"
      - uses: extractions/setup-just@v3
      - uses: oNaiPs/secrets-to-env-action@v1
        with:
          secrets: ${{ toJSON(secrets) }}
      - run:  just optimize
      - run:  just roles
      - run:  ANSIBLE_HOST_KEY_CHECKING=False just setup-all