---
name: 'Deploy'
on:
  workflow_dispatch:

jobs:
  action:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: alex-oleshkevich/setup-ansible@v1.0.1
      - uses: extractions/setup-just@v3
      - run:  just optimize
      - run:  just roles
      - run:  just setup-all